#header{
	width: 100%;
	height: 100px;
}

.banner{
	width: 100%;
	height: 280px;	
}
.banner img{
	width: 100%;
	height: 280px;
}
/*消费市场*/
.why_study{
	width: 1200px;
	margin: 60px auto;
	margin-bottom: 100px;
}
h3{
	display: block;
    font-size: 28px;
    line-height: 1.2;
    text-align: center;
    margin-top: 15px;
    text-transform: uppercase;
    
}
.footer h3{
	text-align: left;
}
.color{
	background: linear-gradient(to right, #0a9ce1, #04397d);
	background:-ms-linear-gradient(to right, #0a9ce1, #04397d);
    -webkit-background-clip: text;
    -ms-background-clip:text;
    color: transparent;
}
.why_study .why_study_conimg {
	width:1280px;
	margin-top: 20px;
}
.why_study_conimg ul li,
.why_join_conimg ul li{
	float:left;
	width: 25%;
	padding: 25px 55px;
	position: relative;
}
.why_study_conimg ul li img,
.why_join_conimg ul li img
{
	position: absolute;
	width: 75px;	
	left: 50%;
	margin-left: -37.5px;
}
.why_study_conimg ul li h3,
.why_join_conimg ul li h3{
	font-size: 18px;
	color: #948b8b;
	position: relative;
	margin-bottom: 30px;
	top:70px;
}
.why_study_conimg ul li h3::after,
.why_join_conimg ul li h3::after
{
	content: '';
	display: block;
	width: 30px;
	height: 4px;
	background:#ffc501;
	position: absolute;
	top: 30px;
	left: 50%;
	margin-left: -15px;
}
.why_study_conimg ul li p,
.why_join_conimg ul li p{
	font-size: 14px;
	color: #999;
	margin-top: 100px;
	text-align: left;
}

/*选择原因*/
.curse_box{
	width: 100%;	
	margin-bottom: 100px;
}	
.curse_box .reason{
	width: 1200px;
	margin: 30px auto;	
}
.curse_box .reason img{
	width: 100%;
}
/*加盟优势*/
.why_join{
	text-align: center;
	margin-bottom: 100px;
}
h4{
	font-size: 22px;
	color: #243473;
}
.why_join .why_join_conimg {
	width:1280px;
	margin: 0 auto;
	margin-top: 20px;	
}

/*服务体系*/
.server .server_con{
	width: 1200px;
	margin: 0 auto;
}
.server .server_con img{
	width: 100%;
}

/*学员风采*/
.student{
	text-align: center;
	margin-bottom: 100px;
}
.student .stud_img{
	width:1165px;
	margin: 0 auto;
}
.student .stud_img div{
	width: 100%;	
}
.student .stud_img div p{
	height:190px;
	margin-right: 5px;
	margin-bottom: 5px;
	float:left;
}
.stud_img p{	
	background-size:220px; 
}
.one p:first-child{
	width: 260px;
	background: url(../images/cooperation/stud1.JPG) no-repeat;
	background-size: 260px;
}
.one p:nth-child(2){
	width: 380px;
	background: url(../images/cooperation/stud2.JPG) no-repeat;
	background-size: 380px;
}
.one p:last-child{
	width:510px;
	background: url(../images/cooperation/stud3.JPG) no-repeat;
	background-size: 510px;
}
.two p:first-child{
	width: 500px;
	background: url(../images/cooperation/stud4.JPG) no-repeat;
	background-size: 500px;
}
.two p:nth-child(2){
	width: 340px;
	background: url(../images/cooperation/stud5.JPG) no-repeat;
	background-size: 340px;
}
.two p:last-child{
	width:310px;
	background: url(../images/cooperation/stud6.JPG) no-repeat;
	background-size: 340px;
}
.three p:first-child{
	width: 655px;
	background: url(../images/cooperation/stud7.JPG) no-repeat;
	background-size: 655px;
}
.three p:nth-child(2){
	width: 500px;
	background: url(../images/cooperation/stud8.JPG) no-repeat;
	background-size: 500px;
}

/*如何加入*/
.how{
	width:100%;
	text-align: center;
	margin-bottom: 200px;
}
.how .how_join{
	width: 1200px;
	margin: 0 auto;
	margin-top: 50px;
}

/*加盟申请*/
.apply{
	width: 1200px;
	height: 700px;
	margin:0 auto;
}
.apply>div{	
	float: left;
}
.apply .right{
	margin-left: 200px;
}
.apply .right .apply_info{
	position: relative;
}
.apply .right .apply_info p{
	height: 20px;
	width: 70px;	
	float: left;
	margin-right: 20px;
	font-size: 14px;	
	line-height: 36px;
}
.apply .right .apply_info a{
	position: absolute;
	display: block;
	height: 20px;
	width: auto;
	color: red;
}
a.name{
	top: 47px;
	left: 110px;	
}
a.tel{
	top: 116px;
	left: 110px;	
}
.apply .right .apply_info p span{
	color:red;
}
.apply .right .apply_info input{
	width: 210px;
	height: 36px;
	border-radius: 36px;
	margin-bottom: 30px;	
	outline: none;
	border: 1px solid #ccc;
	background: #eee;
}
.apply .right .apply_info input[type=text]{
	padding-left: 20px;
	font-size: 16px;
}
#btn1,#btn2{
	width: 120px;
	height: 42px;
	font-size: 18px;
	border: 0px;
	color: #fff;
}
#btn1{
	margin-right: 40px;	
	background: #fdce25;	
}

#btn2{
	background:#c9c9c9;
}
/*遮罩开始*/
body,html{
	width: 100%;
}
.mask{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	display:none;
}
.mask .mask_con{
	width:258px;
	position: absolute;
	left:50%;
	margin-left: -129px;
	top: 50%;
	margin-top: -129px;
}
.mask .mask_con{
	width:258px;
	display: block;
}
.mask span{
	font-size: 36px;
	font-weight: 500;
	display: block;
	position: absolute;
	right:-30px;
	top: -36px;
	color: #fff;
	cursor: pointer;
}
/*遮罩结束*/
